.app-name-edit {
    font-size: 1.5em;
    margin: 0.2em 0;
}

#app-icon {
	padding: 0.2em;
	border: 1px dashed #aaa;
	cursor: pointer;
}

#app-icon-container:hover #app-icon-edit-icon {
	display: compact;
}

#save-actions button {
	width: 49%;
}

.box-release-info button {
    width: 49%;
}

.app-details-custom {
    text-align: justify;
    background-color:#eaeaea;
    border-radius:5px;
}

#curated_category {
	width: 50%;
	text-align: center;
}

#app-screenshots {
	min-height: 35%;
	overflow-x: auto;
	overflow-y: hidden;
	-ms-overflow-x: auto;
	-ms-overflow-y: hidden;
	white-space: nowrap;
}

#app-screenshots img {
	border: 2px solid white;
	display: inline-block;
}

#app-details-preview {
	border: 2px dashed #aaa;
	padding: 1em;
	position: relative;
}

.help-block {
	font-size: 0.87em;
}

.release-notes {
    margin-left: 0.4em;
	width: 95%;
}

.custom-break {
    word-break: break-word !important;
    cursor: pointer;
}

.app-tag {
	color: white;
	background-color: #3A87AD;
	padding: 0.3em 0.6em;
	margin-right: 0.6em;
	margin-bottom: 0.6em;
	border-radius: 0.3em;
	display: inline-block;
}

.app-tag-remove {
	opacity: 0.6;
	cursor: pointer;
}

.app-tag-remove:hover {
	opacity: 1.0;
}
