[class^="icon-stars-"], [class*="icon-stars-"] {
    background-image: url('../../apps/img/stars_glyph.png');
    width: 85px;
    height: 14px;
}

.icon-stars-empty {
    background-position: 0 0;
}

.icon-stars-filled {
    background-position: 0 -20px;
}

.get-app-stars {
    display: none;
}